/*img{
  padding-left: 50px;
  padding-right: 50px;
  width: 900px;
  height: 800px;
}*/

*{
  padding-top:0;
  padding:0;
  margin:0;
  font-family: sans-serif;
}

#banner {
  height:100vh;
  position: relative;
  background:url(paper1.jpg);
  background-size: cover;
  background-position: center;
}

h1,h3{
  background: rgba(0, 0, 0, 0.5);
  color:white;
  font-family: sans-serif;
  position:relative;
  text-align: center;
  height: 18%;
}


.block {
    position: absolute;
    bottom: 175px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-left: 75px;
    padding-right: 20px;
    height: 250px;
    width: 200px;
}

form{
  padding-top: 5px;
}

#imgBar img{
/*width: 30%;*/
margin: 0px 20px;
display: inline-block;
background-color: red;
position: relative;
padding-bottom: 10px;
animation: fadeIn 8s;
}

.quote{
  text-align: center;
  font-size:2.0em;
  font-family: Bookman;
  padding-top: 80px;
  padding-bottom: 80px;
}


.column{
flex:50%;
padding: 10px;
height: 250px;
margin: 5px;
}

.row{
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;

}
footer{
  padding-top: 50px;
}

@keyframes fadeIn {
  0% {opacity:1}
  100% {opacity: 0.02}
}

.mySlides {
  display:inline-block;}
.three {
  display:inline-block;}
.Slides{
  display:inline-block;}
.container{
  position: relative;
  display: inline-block;}

@media only screen and (max-width: 720px) {
    img{
      width: 10vh;
      height: 10vh:
    }
