/*img{
  padding-left: 50px;
  padding-right: 50px;
  width: 900px;
  height: 800px;
}*/

*{
  padding-top:0;
  padding:0;
  margin:0;
  font-family: sans-serif;
}

#banner {
  height:100vh;
  position: relative;
  background:url(paper1.jpg);
  background-size: cover;
  background-position: center;
}

h1,h3{
  background: rgba(0, 0, 0, 0.5);
  color:white;
  font-family: sans-serif;
  position:relative;
  text-align: center;
  height: 18%;
}


.block {
    position: absolute;
    bottom: 175px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-left: 75px;
    padding-right: 20px;
    height: 250px;
    width: 200px;
}


footer{
  padding-top: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


@media only screen and (max-width: 720px) {
    img{
      width: 10vh;
      height: 10vh;
    }
}
